/*presentation page web customisation, feuille de style*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box; /*remise à zéro affichage page web*/
}

body{
    background-color: rgb(220, 136, 25);
}

header{
    background-color: blue; /*entete en bleu*/
}

h1{
    color:rgb(252, 251, 251);
    text-align: center;
}

h2{
    color: goldenrod;
    margin-bottom: 20px;
}

h3{
    color:rgb(252, 251, 251); /*titre h1 en blanc*/
}


.pblanc{
color: rgb(248, 248, 244); /*paragraphe en beige*/
}

nav{
    background-color: rgb(193, 97, 33);
    width: 100%;
    align-items: center;
    gap: 40;
    padding: 1em;
    }

aside{ 
    background-color: blue;
    width: 20%;
    padding: 1em;
    text-align: justify;
}

article{
    
    /*fond boite article en blanc*/
    width: 100%;
    padding: 2em;
   
}

footer{
    background-color: darkblue;
    text-align: center;
}

header>figure{
    height: 600px;
    overflow: hidden;
}

.wrapper {
    width: 60%; 
    margin:  auto;
    }

.main-img {
    width: 100%;
  
} 

.box3 {width: 20%;} 

.justify {text-align: justify;
text-justify: inter-word;}

main {
    display: flex;
    background-color: white;
    padding: 1em;
    }

ul{
    display: flex; /*présentation menu navigation intra page web*/
    align-items: center;
    margin-left: 12%;
    gap: 40px;
}

.cat {
    width: 29%;
    height: 150px;
    object-fit: cover;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    }

.cat2 {
    width: 100%;

}

.nolist {
	list-style-type: none;
}

/*Les commandes suivantes sont des contre-ordres pour Web-Responsive*/

@media screen and (max-width: 900px) {
nav{          
    width: 100%;
    padding: 0%;
    text-align: center;
    }
ul{
    flex-direction: column;
}
.wrapper{
    width: 100%; 
}
main {
    flex-direction:column;
    background-color: white;
    padding: 0%;
    }
aside{ 
    background-color: blue;
    width: 100%;
    padding: 1em;
    text-align: justify;
    }
.cat {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
        }
}
